__pycache__/
*.pyc
output/*.png
output/*.csv
output/*.txt
output/breakdown/*.png
output/breakdown/*.csv
.DS_Store
output/breakdown
output/breakdown/README.md
Makefile
.venv/
causal-analysis/.ipynb_checkpoints/
**/.ipynb_checkpoints/

